<div>
  <div class="mb-2">
    <p-messages></p-messages>
  </div>
  <div class="row mb-4">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="enableUploadArchives"
        [(ngModel)]="enableUploadArchives"
      />
      <label class="form-check-label" for="enableUploadArchives"
        >Já subiu o arquivo?</label
      >
    </div>
    <div
      *ngIf="enableUploadArchives; then list_files_content; else upload_content"
    ></div>
  </div>
</div>

<ng-template #upload_content>
  <div class="align-items-center mt-2">
    <div class="form-floating">
      <select
        id="typeContent"
        [(ngModel)]="typeContent"
        class="form-select col"
      >
        <option selected disabled>Escolha o tipo do conteúdo</option>
        <option value="mcgeral">
          Músicas da CONCAFRAS Geral (Power Point)
        </option>
        <option value="musicas">Músicas (Word e MP3)</option>
        <option value="producao_doutrinaria">Produção Doutrinária</option>
        <option value="alegria_digital">Alegria Digital</option>
      </select>
      <label for="typeContent">Onde deseja subir?</label>
    </div>
  </div>
  <div class="mt-4">
    <p-fileUpload
      name="myfile[]"
      [customUpload]="true"
      (uploadHandler)="uploadFiles($event)"
    ></p-fileUpload>
  </div>
</ng-template>

<ng-template #list_files_content>
  <div class="mt-2">
    <p-tree
      [value]="files"
      scrollHeight="400px"
      selectionMode="single"
      [(selection)]="selectedFile"
      (onNodeSelect)="nodeSelect($event)"
    ></p-tree>
  </div>
</ng-template>

<!-- Spinner -->
<ngx-spinner type="ball-scale-multiple">
  <span class="white-font">Carregando...</span>
</ngx-spinner>
