<div>
  <div class="mt-1">
    <span class="title-font">Subir arquivo para o <strong>Cloud Storage</strong></span>
  </div>
  <hr class="mb-3" />
  <div>
    <div class="row align-items-center mb-2">
      <select [(ngModel)]="baseUrl" class="form-select col me-2" aria-label="Disabled select example" disabled>
        <option [ngValue]="baseUrl" selected>/{{baseUrl}}</option>
      </select>
      <select [(ngModel)]="typeContent" class="form-select col">
        <option selected>Escolha o tipo do conteúdo</option>
        <option value="mcgeral">Músicas da CONCAFRAS Geral</option>
      </select>
    </div>
    <p-fileUpload name="myfile[]" [customUpload]="true" (uploadHandler)="uploadFiles($event)"></p-fileUpload>
  </div>
</div>
