<div class="space-joy-content">
  <span class="title-text">O <b>espaço da Alegria</b> ainda está em construção.</span>
  <p>Mas você já pode acessar o <b>kit treinamento da CONCAFRAS</b>!!!</p>
  <div id="kits">
    <button class="btn-kit" disabled>2022</button>
    <button class="btn-kit" (click)="this.chooseKit('2023')">2023</button>
  </div>
  <div id="content-kits" *ngIf="this.flagContentView">
    <div class="row-content-kits">
      <span>Hinário em PDF</span>
      <a [(href)]="this.currentContent.pdf" target="_blank" class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>Hinário em Word</span>
      <a [(href)]="this.currentContent.word" target="_blank" class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>Hinário em áudio (MP3)</span>
      <a [(href)]="this.currentContent.audios" target="_blank" class="btn btn-content">Acessar</a>
    </div>
  </div>
  <hr>
  <div id="content-kits" class="mt-4">
    <h4>Materias para a reunião Allan Kardec</h4>
    <div class="row-content-kits">
      <span>Manual EFAS Encontro Fraterno</span>
      <a href="download/rak/2023/Manual EFAS Encontro Fraterno.pdf" target="_blank" class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>Plano de Aula - Alegria Cristã - RAK 2023</span>
      <a href="download/rak/2023/Plano de Aula - Alegria Cristã - RAK 2023.pdf" target="_blank"
        class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>SLIDES Alegria Cristã - RAK 2023</span>
      <a href="download/rak/2023/SLIDES Alegria Cristã - RAK 2023.ppsx" target="_blank"
        class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>VÍDEO 1 - Central da CONCAFRAS - Alegria Cristã</span>
      <a href="download/rak/2023/VÍDEO 1 -  Central da CONCAFRAS - Alegria Cristã.mp4" target="_blank"
        class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>VÍDEO 2 - O PODER DA MÚSICA</span>
      <a href="download/rak/2023/VÍDEO 2 - O PODER DA MÚSICA.mp4" target="_blank" class="btn btn-content">Acessar</a>
    </div>
  </div>
  <hr>
  <section *ngIf="this.user.roles.includes('ALEGRIA_ADMIN')" class="mt-4">
    <div class="mt-2">
      <h4>Painel Administrativo</h4>
      <a class="mt-2 btn btn-joy btn-admin" routerLink="/admin">Acessar</a>
    </div>
  </section>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" color="#fff" type="ball-scale-multiple">
  <p class="white-font">Carregando...</p>
</ngx-spinner>
