<div class="container text-center pt-5">
  <span class="title-text">O <b>canto da Alegria</b> ainda está em construção.</span>
  <hr>
  <section>
    <div class="mt-2">
      <h4>Kits de treinamento da CONCAFRAS</h4>
    </div>
    <div id="kits" class="mb-2">
      <div *ngIf="kits.length == 0">
        <h5>Sem kits cadastrados.</h5>
      </div>
      <div class="row" style="gap: 2rem; justify-content: center;">
        <div *ngFor="let kit of kits" class="col-3 card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">{{ kit.name }}</h5>
            <p class="card-text">
              {{ kit.description }}
            </p>
            <a [href]="kit.archive.url" class="btn btn-primary text-white">Acessar o kit</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <div id="content-kits" class="mt-4">
    <h4>Materiais para a reunião Allan Kardec</h4>
    <div class="row-content-kits">
      <span>Manual EFAS Encontro Fraterno</span>
      <a href="download/rak/2023/Manual EFAS Encontro Fraterno.pdf" target="_blank" class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>Plano de Aula - Alegria Cristã - RAK 2023</span>
      <a href="download/rak/2023/Plano de Aula - Alegria Cristã - RAK 2023.pdf" target="_blank"
        class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>SLIDES Alegria Cristã - RAK 2023</span>
      <a href="download/rak/2023/SLIDES Alegria Cristã - RAK 2023.ppsx" target="_blank"
        class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>VÍDEO 1 - Central da CONCAFRAS - Alegria Cristã</span>
      <a href="download/rak/2023/VÍDEO 1 -  Central da CONCAFRAS - Alegria Cristã.mp4" target="_blank"
        class="btn btn-content">Acessar</a>
    </div>
    <div class="row-content-kits">
      <span>VÍDEO 2 - O PODER DA MÚSICA</span>
      <a href="download/rak/2023/VÍDEO 2 - O PODER DA MÚSICA.mp4" target="_blank" class="btn btn-content">Acessar</a>
    </div>
  </div>
  <hr />
  <section *ngIf="this.user.roles.includes('ALEGRIA_ADMIN')" class="mt-4">
    <div class="mt-2">
      <h4>Painel Administrativo</h4>
      <a class="mt-2 btn btn-joy btn-admin" routerLink="/admin">Acessar</a>
    </div>
  </section>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" color="#fff" type="ball-scale-multiple">
  <p class="white-font">Carregando...</p>
</ngx-spinner>
