<!-- VIDEO GUIA
  https://www.youtube.com/watch?v=vqrjFnq3-uo&t=937s
-->
<div id="body">
  <div id="player">
    <h4><i class="material-icons">equalizer</i> Alegria Cristã Player</h4>
    <div class="card">
      <div class="card-image">
        <img src="{{ this.music.cover }}" alt="Capa da música" />
      </div>
      <div class="card-content">
        <h5>{{ this.music.title }}</h5>
        <p class="artist">{{ this.music.artist }}</p>
        <audio
          #audioPlayer
          src="{{ this.music.file }}"
          (ended)="next()"
          controls
        ></audio>
      </div>
    </div>
  </div>
</div>
