<!-- Desenvolvimento orientado ao vídeo https://www.youtube.com/watch?v=vqrjFnq3-uo -->

<div id="body">
  <div id="player">
    <h4><i class="material-icons">equalizer</i> Alegria Audio Player</h4>
    <div class="card">
      <div class="card-image"></div>
      <div class="card-content">
        <h5>Título</h5>
        <p class="artist">Artista</p>
        <audio
          src="https://firebasestorage.googleapis.com/v0/b/alegriatech-2bf22.appspot.com/o/downloads%2Fmusicas%2FA-gente-primeiro.mp3?alt=media&token=f631a72c-c0f8-48cc-8218-53a0ffd69f50"></audio>
      </div>
    </div>
  </div>
</div>
