<div>
  <section id="eight-banner" class="eight-banner-section position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="eight-banner-content">
            <div class="banner-content-box appeight-headline pera-content">
              <h1 class="cd-headline clip is-full-width title-shadow">
                O trabalho começa com a <br>
                <span class="cd-words-wrapper">
                  <b class="is-visible">canção!</b>
                  <b>fraternidade!</b>
                  <b>união!</b>
                  <b>alegria!</b>
                </span>
              </h1>
              <p>O Site da comissão mais alegre do mundo!!!</p>
            </div>
            <div class="ei-banner-mbl-mockup wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
              <img src="assets/img/banner_exemplo_2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('assets/template/img/app-landing/shape/b-shapeup.png')">
        </div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle"
          style="background-image: url('assets/template/img/app-landing/shape/b-shapemiddle.png')">
        </div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom"
          style="background-image: url('assets/template/img/app-landing/shape/b-shapemiddle.png')">
        </div>
      </div>
    </div>
  </section>

  <section id="about-us" class="feature-eight-section position-relative">
    <div class="container">
      <div class="eight-section-title appeight-headline pera-content text-center">
        <span class="eg-title-tag">
          Sobre Nós <i class="square-shape"><i></i><i></i> <i></i> <i></i> </i>
        </span>
        <h2>Alegria Cristã,
          <span>você já nos conhece?</span>
        </h2> <br>
        <p class="text-p-justify">Somos uma comissão de trabalho da CONCAFRAS-PSE - Confraternização das Campanhas de
          Fraternidade Auta de Souza e Promoção Social Espírita, que visa divulgar a Doutrina Espírita através da arte
          cristianizada, estreitando os laços afetivos por meio da fraternidade legítima.</p> <br>
        <p class="text-p-justify">A comissão foi criada diante da responsabilidade de todos nós, com base na afirmação
          : <br> "A arte deve ser o belo criando o bom. O trabalho artístico que trai a Natureza, nega a si próprio. A
          arte
          enobrecida estende o poder do amor."</p>
        <small class="text-small-right">André Luiz, Conduta Espírita, psicografia: Waldo Vieira</small> <br> <br>
        <p class="text-p-justify">A Alegria Cristã tem como objetivo divulgar a Doutrina Espírita através da Arte
          Cristã. O site foi criado para facilitar o acesso ao trabalhador, aspirante e apoiador, com materiais,
          dinâmicas, cursos, registros e informações. Destacar assim a amplitude do trabalho da comissão, bem como a
          atuação no dia a dia nas Casas Espíritas, eventos nacionais e internacionais.</p> <br>
        <p class="text-p-justify">Sinta-se a vontade em navegar no site, e poder participar conosco dessa linda missão
          de evangelizar, através da Alegria Cristã.</p>
      </div>
      <!-- /title -->
    </div>
  </section>

  <section id="ei-faq" class="ei-faq-section position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="ei-faq-content">
            <div class="ei-title-faq pera-content">
              <div class="row div-material">
                <div class="col-md-12">
                  <div class="eight-section-title appeight-headline pera-content text-left">
                    <span class="eg-title-tag">
                      Materiais<i class="square-shape"><i></i><i></i>
                        <i></i><i></i></i>
                    </span>
                    <h2>Conheça os nossos materiais:</h2>
                  </div>
                </div>
              </div>
            </div>
            <!-- /title -->
            <div class="ei-faq-queans">
              <div class="accordion" id="joy-materials">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Cursos da Alegria Cristã
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      <ul>
                        <li>
                          <h6>Alegria Cristã no Centro Espírita - Formação de trabalhadores (CONCAFRAS)</h6>
                          Slide: <a
                            href="/alegriacrista/download/cursos_alegria/Alegria_Cristã_no_Centro_Espírita_-_Formação_de_Trabalhadores_CONCAFRAS/Alegria%20Cristã%20no%20Centro%20Espírita%20-%20Formação%20de%20trabalhadores%20CONCAFRAS%20(v.31_01_23).ppsm">clique
                            aqui.</a>
                          <br>
                          Slide quiz: <a
                            href="/alegriacrista/download/cursos_alegria/Alegria_Cristã_no_Centro_Espírita_-_Formação_de_Trabalhadores_CONCAFRAS/SLIDE%20QUIZ%20Alegria%20Cristã%20no%20Centro%20Espírita%20-%20formação%20de%20trabalhadores%20CONCAFRAS%20(v.31_01_23).ppsm">clique
                            aqui.</a>
                          <br>
                          Plano de aula: <a target="_blank"
                            href="/alegriacrista/download/cursos_alegria/Alegria_Cristã_no_Centro_Espírita_-_Formação_de_Trabalhadores_CONCAFRAS/Alegria%20Cristã%20no%20Centro%20Espírita%20-%20Formação%20de%20Trabalhadores%20CONCAFRAS%20(v.31_01_23).pdf">clique
                            aqui.</a>
                          <br>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Curso de violão
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      Curso de violão ofertado pela Alegria Cristã para a formação de violeiros trabalhadores em seu
                      Centro Espírita. Para acessar
                      <a href="https://drive.google.com/drive/folders/0BytOdn6DMjUqMHV2b0NhdVJEVjQ?resourcekey=0-bA1ZW8zQlRSLSYgb_uGwRQ&usp=sharing"
                        target="_blank">clique aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Rota Internacional
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      Música Inglês:
                      <a href="https://drive.google.com/drive/folders/0BytOdn6DMjUqNFpHSXpUZWlhNk0?resourcekey=0-aES1l0ANnV8Q0qXQNPJtSA&usp=sharing"
                        target="_blank">clique aqui</a>.
                      <br>
                      Música Espanhol:
                      <a href="https://drive.google.com/drive/folders/0BytOdn6DMjUqYTkxbjB0RDd3bGM?resourcekey=0-K73JYzp9geeyuTEL9f0q7A&usp=sharing"
                        target="_blank">clique aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Hinário para impressão
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      Hinário desenvolvido pela Alegria Cristã pronto para a impressão, para acessar basta
                      <a href="https://drive.google.com/file/d/0BytOdn6DMjUqOHlqWm1rbV9mZVk/view?resourcekey=0-5TIuHiTl1UynnJvE2w7rSw"
                        target="_blank">clique aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Escola Espírita - músicas
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      Para acessar
                      <a href="https://drive.google.com/drive/folders/0BytOdn6DMjUqQUdUYTR4Yjc0SlE?resourcekey=0-eyIMhNgMMEcvmg7y5JtcMw&usp=sharing"
                        target="_blank">clique aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      CONCAFRAS Global Music
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      Acesso a todas as músicas produzidas para o evento CONCAFRAS Global Music, para acessar
                      <a href="https://drive.google.com/drive/folders/1EZbBpuVzxSot855DUxbacs7vuxNTpEKj?usp=sharing"
                        target="_blank">clique aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      Músicas da CONCAFRAS Geral (slides das músicas)
                    </button>
                  </h2>
                  <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      Apresentação Power Point com todas as músicas da Alegria Cristã, separadas por harmônicas,
                      animadas, infantis e estrangeiras. Para acessar,
                      <a href="https://drive.google.com/drive/folders/1YYq43DYKNuSqspZd7UehZjYf1EBf_IFq?usp=sharing"
                        target="_blank">clique aqui</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      Músicas da CONCAFRAS Harmônicas (MCH) para baixar
                    </button>
                  </h2>
                  <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      <ul>
                        <li>
                          Músicas da CONCAFRAS Harmônicas (MCH) 1:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCH1.rar" target="_blank">Baixe aqui!</a>
                            <br>
                            <a href="/alegriacrista/download/musicas/MCH-1.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                        <li>
                          Músicas da CONCAFRAS Harmônicas (MCH) 2:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCH2.rar" target="_blank">Baixe aqui!</a>.
                            <br>
                            <a href="/alegriacrista/download/musicas/MCH-2.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                        <li>
                          Músicas da CONCAFRAS Harmônicas (MCH) 3:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCH3.rar" target="_blank">Baixe aqui!</a>.
                            <br>
                            <a href="/alegriacrista/download/musicas/MCH-3.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                        <li>
                          Músicas da CONCAFRAS Harmônicas (MCH) 4:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCH4.rar" target="_blank">Baixe aqui!</a>.
                            <br>
                            <a href="/alegriacrista/download/musicas/MCH-4.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                        <li>
                          Músicas da CONCAFRAS Harmônicas (MCH) 5:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCH5.rar" target="_blank">Baixe aqui!</a>.
                            <br>
                            <a href="/alegriacrista/download/musicas/MCH-5.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                        <li>
                          Músicas da CONCAFRAS Harmônicas (MCH) 6:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCH6.rar" target="_blank">Baixe aqui!</a>.
                            <br>
                            <a href="/alegriacrista/download/musicas/MCH-6.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                      Músicas da CONCAFRAS Infantis (MCI) para baixar
                    </button>
                  </h2>
                  <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#joy-materials">
                    <div class="accordion-body">
                      <ul>
                        <li>
                          Músicas da CONCAFRAS Infantis (MCI) 1:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCI1.rar" target="_blank">Baixe aqui!</a>.
                            <br>
                            <a href="/alegriacrista/download/musicas/MCI-1.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                        <li>
                          Músicas da CONCAFRAS Infantis (MCI) 2:&nbsp;
                          <b>
                            <a href="/alegriacrista/download/musicas/MCI2.rar" target="_blank">Baixe aqui!</a>.
                            <br>
                            <a href="/alegriacrista/download/musicas/MCI-2.txt" target="_blank">Relação de músicas</a>.
                          </b>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="ei-faq-shape fq-shape-style1" data-parallax='{"x" : 50}'><img
          src="assets/template/img/app-landing/shape/fq-shape1.png" alt=""></span>
      <span class="ei-faq-shape fq-shape-style2"><img src="assets/template/img/app-landing/shape/fq-shape2.png"
          alt=""></span>
      <span class="ei-faq-shape fq-shape-style3"><img src="assets/template/img/app-landing/shape/fq-shape3.png"
          alt=""></span>
      <span class="ei-faq-shape fq-shape-style4" data-parallax='{"y" : 60}'><img
          src="assets/template/img/app-landing/shape/fq-shape4.png" alt=""></span>
      <span class="ei-faq-shape fq-shape-style5"><img src="assets/template/img/app-landing/shape/fq-shape5.png"
          alt=""></span>
      <span class="ei-faq-shape fq-shape-style6"><img src="assets/template/img/app-landing/shape/fq-shape6.png"
          alt=""></span>
      <span class="ei-faq-shape fq-shape-style8"><img src="assets/template/img/app-landing/shape/fq-shape8.png"
          alt=""></span>
      <span class="ei-faq-shape fq-shape-style7"><img src="assets/template/img/app-landing/shape/fq-shape7.png"
          alt=""><img src="assets/template/img/app-landing/shape/fq-shape7.png" alt="">
        <img src="assets/template/img/app-landing/shape/fq-shape7.png" alt=""></span>
    </div>
  </section>

  <section id="feature-eight" class="feature-eight-section position-relative">
    <div class="container">
      <div class="eight-section-title appeight-headline pera-content text-center">
        <span class="eg-title-tag">
          Atividades Apoiadas (materiais separados pelos dias da semana) <i class="square-shape"><i></i><i></i> <i></i>
            <i></i> </i>
        </span>
        <h2>Conheça, interaja,
          <span>se envolva nesta ALEGRIA.</span>
        </h2>
        <p>Diversos conteúdos trabalhados para com o intuito de levar o aprendizado e a inclusão Espiritual em
          todos nós.</p>
      </div>
      <!-- /title -->

      <div class="eight-feature-content">
        <!-- SEGUNDA -->
        <div class="row row-content">
          <div class="col-12 text-center">
            <h2>Segunda-feira</h2>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Triagem e Passe</h3>
                <p>4 dvds um para cada semana, onde o paciente ao longo do Tratamento vê um por retorno</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqXzcwTnVpTFpJb2s?resourcekey=0-SmWmq7de5vAhfhmMioHmFw&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- TERÇA -->
        <div class="row row-content">
          <div class="col-12 text-center">
            <h2>Terça-feira</h2>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Reunião Pública</h3>
                <p>Com o Violeiro, utiliza as músicas em Power Point (Imagens, letra e Cifras)</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/1YYq43DYKNuSqspZd7UehZjYf1EBf_IFq?usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- QUARTA -->
        <div class="row row-content">
          <div class="col-12 text-center">
            <h2>Quarta-feira</h2>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Desobsessão e Passe</h3>
                <p>No momento com os pacientes pode utilizar os vídeos de músicas onde passa imagens letra e áudio</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqWmFvd3EtQVNrODg?resourcekey=0-_F0m4GFBobJowwTBGtJEWQ&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Escola de Médiuns e Corrente Magnética</h3>
                <p>Momento mediúnico (corrente ou passe cd instrumental)</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqT3g1UThrSHVaWW8?resourcekey=0-A661ZhSqw8CHYaUFF7yCmA&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- SÁBADO -->
        <div class="row row-content">
          <div class="col-12 text-center">
            <h2>Sábado</h2>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Evangelização Infantil</h3>
                <p>Na Evangelização de Crianças cd de músicas infantis</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqZ2U5eWx5TF9SV3M?resourcekey=0-0XoYZRX80WVsNras4NqwLg&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Evangelização Infantil</h3>
                <p>Na Evangelização de Crianças vídeos com Gestos das Músicas</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqZDJtTU95NzZVS1k?resourcekey=0-AEMiPbU-zp6_FfMl074_4Q&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Tratamento Infantil</h3>
                <p>Tratamento Infantil cd Instrumental</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqT3g1UThrSHVaWW8?resourcekey=0-A661ZhSqw8CHYaUFF7yCmA&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Mocidade - CDs</h3>
                <p>Mocidade Cds Treinamento Concafras</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqWWpiaWVWN00zWGc?resourcekey=0-7Ze_-CJE28SUzxEkZqQEdQ&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Mocidade - Videos</h3>
                <p>Mocidade Vídeo de Técnicas e Dinâmicas</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqUnIyS3dUWTI2eTQ?resourcekey=0-2yTpT0e-H7tdJJ6COoSWUg&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Escola de Estudos Espíritas - Ciclo Introdutório</h3>
                <p>Hinário impresso harmônico</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/file/d/0BytOdn6DMjUqOHlqWm1rbV9mZVk/view?resourcekey=0-5TIuHiTl1UynnJvE2w7rSw"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Escola de Estudos Espíritas - Ciclo Introdutório</h3>
                <p>Hinário em Power Point</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/1YYq43DYKNuSqspZd7UehZjYf1EBf_IFq?usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="eight-feature-box text-center position-relative">
              <div class="feature-icon8 position-relative">
                <i class="material-icons material-icons-outlined">
                  library_books
                </i>
                <span class="ei-icon-bg"></span>
              </div>
              <div class="feature-text8 appeight-headline pera-content">
                <h3>Escola de Estudos Espíritas - Ciclo Introdutório</h3>
                <p>Vídeo das músicas imagem, letra e Áudio</p>
              </div>
              <a class="ancor-template"
                href="https://drive.google.com/drive/folders/0BytOdn6DMjUqWmFvd3EtQVNrODg?resourcekey=0-_F0m4GFBobJowwTBGtJEWQ&usp=sharing"
                target="_blank">
                <div class="ei-feature-more">
                  <i class="fas fa-plus"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ei-feature-shape"><img src="assets/template/img/app-landing/shape/f-shape1.png" alt=""></div>
  </section>
</div>
