<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">
      <img src="../../../assets/img/logo/logo.svg" alt="Bootstrap" width="30" height="24">
      Alegria Cristã Admin
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/space-joy">Acessar Alegria Cristã Portal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- layout -->
<div class="row">
  <div class="col-3 h-auto">
    <div class="btn-group-vertical w-100 pt-2" role="group" aria-label="Vertical button group">
      <a type="button" class="btn btn-joy icon-link">
        <i class="bi bi-house"></i>
        Início
      </a>
      <button type="button" class="btn btn-joy icon-link icon-link-hover">Usuários</button>
      <button type="button" class="btn btn-joy icon-link icon-link-hover">Player</button>
    </div>
  </div>
  <div class="col-9 pt-2">col-9</div>
</div>
