<div class="mb-1 header">
  <span class="title-font">Novo curso</span>
  <button pButton icon="pi pi-arrow" class="p-button-secondary" (click)="goToInside('/admin/courses')">
    <i class="material-icons left">arrow_back</i>Voltar
  </button>
</div>
<hr class="mb-1">
<div class="mt-4">
  <div class="row mb-2">
    <div class="col-12">
      <label for="nameCourse" class="form-label">Nome</label>
      <input type="text" id="nameCourse" name="nameCourse" class="form-control" placeholder="Digite o nome do curso..."
        [(ngModel)]="course.name">
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="descriptionCourse" class="form-label">Descrição</label>
      <textarea id="descriptionCourse" name="descriptionCourse" class="form-control"
        placeholder="Digite uma descrição para o curso..." [(ngModel)]="course.description" [rows]="5"
        [cols]="30"></textarea>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label class="form-label">Categoria</label>
      <select class="form-select" (change)="onChangeCategory($event)" aria-label="Selecione a categoria">
        <option selected>Selecione a categoria</option>
        <option *ngFor="let category of categories" value="{{category.code}}">{{category.name}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="course.category.name == 'concafras' || course.category.name == 'efas'" class="row mb-2">
    <div class="col-12">
      <label class="form-label">Subcategoria</label>
      <select class="form-select" multiple (change)="onChangeSubcategory($event)" aria-label="Selecione a categoria">
        <option selected>Selecione a categoria</option>
        <ng-container *ngFor="let subcategory of subcategories">
          <option *ngIf="!course.category.subcategories.includes(subcategory.code)" value="{{subcategory.code}}">
            {{subcategory.name}}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>
