<div class="ei-up">
  <a href="#" id="scrollup" class="ei-scrollup text-center"><i class="fas fa-angle-up"></i></a>
</div>

<!-- MENU DE LINKS DA CONCAFRAS -->
<div class="row menu-sites-federacao">
  <div class="col-md-4 menu-item-1">
    <span class="material-icons material-icons-outlined">
      public
    </span>
    <a class="ancor-template" href="http://www.ocentroespirita.com/centroespirita/" target="_blank"
      rel="noopener noreferrer">O Centro
      Espírita</a>
  </div>
  <div class="col-md-4 menu-item-2">
    <span class="material-icons material-icons-outlined">
      menu_book
    </span>
    <a class="ancor-template" href="https://www.revistaautadesouza.com/" target="_blank"
      rel="noopener noreferrer">Revista Auta de Souza</a>
  </div>
  <div class="col-md-4 menu-item-3">
    <span class="material-icons material-icons-outlined">
      stars
    </span>
    <a class="ancor-template" href="https://www.concafras.com/site/concafras/" target="_blank"
      rel="noopener noreferrer">CONCAFRAS</a>
  </div>
</div>
<!-- END -->

<header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img id="logo" class="logo-img" src="assets/img/logo/logo_com_escrita.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item fromLeft">
            <a class="nav-link" routerLink="/">Início</a>
          </li>
          <!-- TODO: Remover o comentário -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/courses">Cursos</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="https://ocentroespirita.com/alegriacrista/player">Audio player</a>
          </li>
          <li class="nav-item" *ngIf="!verifyIdentity()">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="verifyIdentity()">
            <a class="nav-link" routerLink="/space-joy">Espaço Alegria</a>
          </li>
        </ul>
        <div *ngIf="!verifyIdentity()">
          <a routerLink="/register">
            <button id="btn-login" class="my-btn-login">Registro</button>
          </a>
        </div>
        <div *ngIf="verifyIdentity()">
          <button id="btn-sair" class="my-btn-logout" (click)="logout()">Sair</button>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- LUGAR ONDE AS PÁGINAS SERÃO EXIBIDAS -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<section id="ei-footer" class="ei-footer-section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="ei-footer-widget pera-content appeight-headline">
          <div class="ei-footer-logo">
            <img src="assets/img/logo/logo_com_escrita.png" width="120px" alt="">
          </div>
          <p>
            O Site da comissão mais alegre do mundo!!!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ei-footer-widget appeight-headline ul-li-block">
          <h3 class="ei-widget-title">Links rápidos:</h3>
          <ul>
            <li><a routerLink="/">Início</a></li>
            <li><a routerLink="/">Sobre nós</a></li>
            <li><a routerLink="/register">Faça sua inscrição</a></li>
            <li><a routerLink="/login">Faça seu login</a></li>
            <!-- <li><a [routerLink]="'/songs'">Músicas</a></li> -->
            <!-- <li><a href="#">Galeria</a></li> -->
            <!-- <li><a href="#">Depoimentos</a></li> -->
            <!-- <li><a href="#">Contato</a></li> -->
            <!-- <li><a href="#">Vídeos</a></li> -->
            <!-- <li><a href="#">Cifras</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ei-footer-widget appeight-headline  ul-li-block">
          <h3 class="ei-widget-title">Contato:</h3>
          <h4>
            <i class="fas fa-envelope"></i>
            E-mail: <br /><a href="mailto:alegriacristacentral@gmail.com">alegriacristacentral@gmail.com</a>
            <span>(Todos os dias)</span>
          </h4>
          <!-- <h4>
            <i class="fas fa-map-marker-alt"></i>
            Av. Anhanguera, Centro
            <span>Goiânia, GO, Brasil</span>
          </h4> -->
          <div class="download-btn" style="display: none">
            <a href="#"><img src="assets/template/img/app-landing/logo/app1.png" alt=""></a>
            <a href="#"><img src="assets/template/img/app-landing/logo/gp1.png" alt=""></a>
          </div>
          <!-- <div class="ei-footer-social my-footer">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="ei-footer-copyright">
    <div class="container">
      <div class="ei-footer-copyright-content">
        <div class="row">
          <div class="col-md-4">
            <div class="ei-copyright-text">
              <p>© 2021 <a href="#">Alegria Cristã</a></p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="ei-copyright-menu">
              <!-- <p>Last updated: 15/02/2023</p> -->
              <!-- <a href="#">Ajuda</a>
            <a href="#">Termos & Condições </a>
            <a href="#">Privacidade </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ei-footer-shape1 position-absolute" data-parallax='{"x" : 60}'><img
      src="assets/template/img/app-landing/shape/fo-shape1.png" alt=""></div>
  <div class="ei-footer-shape2 position-absolute" data-parallax='{"y" : 60}'><img
      src="assets/template/img/app-landing/shape/fo-shape2.png" alt=""></div>
  <div class="ei-footer-shape3 position-absolute"><img src="assets/template/img/app-landing/shape/eimap.png" alt="">
  </div>
</section>
