.my-footer {
  padding-top: 4rem;
}

.logo-img {
  width: 4.5rem;
  margin: 0.2rem;
  filter: drop-shadow(1px 1px 0.5rem #f8da5f);
}

.new-logo-width {
  width: 4rem !important;
}

.appheader-content.eisticky-menu-content-overlay {
  margin-top: -0.2rem !important;
}

.my-btn-logout {
  border-color: #000;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  font-weight: 700;
  transition: 0.2s;
}

.my-btn-logout:hover {
  background-color: var(--color-3);
}

/* Navbar */
header nav {
  background-color: rgba(250, 220, 91, 0.8);
}

.nav-link {
  color: #000;
  font-weight: 700;
}

nav #navbarNav > div {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

@media screen and (min-width: 992px) {
  .logo-img {
    width: 9rem;
    margin: 0.2rem;
    filter: drop-shadow(1px 5px 5rem #f8da5f);
    position: relative;
    margin-bottom: -5rem;
    z-index: 1;
  }

  .nav-link:after {
    display: block;
    content: "";
    border-bottom: solid 3px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .nav-link:hover:after {
    transform: scaleX(1);
  }

  .nav-link.fromLeft:after {
    transform-origin: 0% 50%;
  }

  nav #navbarNav > div {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
}

@media screen and (max-width: 992px) {
  nav #navbarNav > div {
    padding: 0.25rem 0;
  }
}

@media screen and (max-width: 480px) {
  .main-header-eight {
    top: 0rem;
  }

  .appi-ei-mobile_menu_button {
    top: -3.8rem;
  }
}
